extends layouts/full-width.jade
mixin viewmore(link)
  a.view-more(href="#{link}", title="view more") View more
mixin article(srcimg, title, desc, classextra)
  .col-12.col-1-2-l
    article.article(class="#{classextra}", data-mh="article")
      h3.article-title
        a(href="#", title="#{title}") #{title}
      a.article-img(href="#", title="#{title}")
        img(src="#{srcimg}", alt="#{title}", width="500", height="350")
      .article-content
        p.ariticle-desc #{desc}
        +viewmore("#")
mixin paging(link, title, current)
  if current != ""
    li
      a(href="#{link}", title="#{title}", class="#{current}") !{title}
  else
    li
      a(href="#{link}", title="#{title}") !{title}
block head
  +head(
  'Events',
  'description',
  'keywords',
  'description_social',
  'image_social',
  'url_social',
  'type_social'
  )
block css
block banner
  .banner
    .container
      .banner-content
        .banner-wrap
          .banner-summary
          .banner-heading
            h2.banner-tittle News
  ///.banner
  = '\n'
block content
  ul.nav-breadcrumb
    li
      a(href="#", title="Home") Home
    li
      a(href="#", title="Company") Company
    li
      span News
  ///.nav-breadcrumb
  = '\n'
  .row
    +article("assets/images/data/article/new-1.jpg", "Delivering Our Wishes for the Earliest ", "Lorem ipsum dolor sit amet, cons adipiscing elit. Phasellus ultricies dui arcu, in tincidunt massa ", "")
    +article("assets/images/data/article/new-2.jpg", "Margarita Mamun, who won the first title in the Individual", "Lorem ipsum dolor sit amet, cons adipiscing elit. Phasellus ultricies dui arcu, in tincidunt massa ", "")
    +article("assets/images/data/article/new-3.jpg", "Delivering Our Wishes for the Earliest ", "Lorem ipsum dolor sit amet, cons adipiscing elit. Phasellus ultricies dui arcu, in tincidunt massa ", "")
    +article("assets/images/data/article/new-4.jpg", "Delivering Our Wishes for the Earliest ", "Lorem ipsum dolor sit amet, cons adipiscing elit. Phasellus ultricies dui arcu, in tincidunt massa ", "")
    +article("assets/images/data/article/new-5.jpg", "Delivering Our Wishes for the Earliest ", "Lorem ipsum dolor sit amet, cons adipiscing elit. Phasellus ultricies dui arcu, in tincidunt massa ", "")
    +article("assets/images/data/article/new-6.jpg", "Delivering Our Wishes for the Earliest ", "Lorem ipsum dolor sit amet, cons adipiscing elit. Phasellus ultricies dui arcu, in tincidunt massa ", "")
    +article("assets/images/data/article/new-7.jpg", "Delivering Our Wishes for the Earliest ", "Lorem ipsum dolor sit amet, cons adipiscing elit. Phasellus ultricies dui arcu, in tincidunt massa ", "")
    +article("assets/images/data/article/new-8.jpg", "Delivering Our Wishes for the Earliest ", "Lorem ipsum dolor sit amet, cons adipiscing elit. Phasellus ultricies dui arcu, in tincidunt massa ", "")
  .paging
    .paging-list
      span.current 1
      +paging('#', '2', '')
      +paging('#', '3', '')
      +paging('#', '4', '')
      a(href="#", title="Next")
        i.fa.fa-angle-right(aria-hidden="true")
      a(href="#", title="Next")
        i.fa.fa-angle-double-right(aria-hidden="true")